<div class="card border-0">
    <img src="assets/imagenes/explore1.jpg" class="card-img" alt="">
    <div class="row">
        <div class="col-6">
            <div class="card-img-overlay">
                <div class="row row-cols-3">
                    <div class="col col-sm-1 space"></div>
                    <div class="col-sm-1">
                        <img src="assets/iconos/medalla.png" alt="Image S">
                    </div>
                    <div class="col-sm-1">
                        <span class="badge text-bg-info"  >Productos recomendados</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-6 col-sm-6">
                                <p class="textExplore">¡Te recomendamos estos productos para </p>
                                <p class="orangeExploreText">Conocer sobrino!</p>
                            </div>
                            <div class="col-4 col-sm-6">
                                <div class="card" style="width: 18rem;">
                                    <img src="assets/imagenes/family.jpg" class="card-img-top" alt="...">
                                    <span class="badge text-bg-secondary">Ahorro e inversión</span>

                                    <div class="card-body">
                                        <h5 class="card-title">¡Fondo de inversión Colectiva, la acción para potenciar
                                            tu capital y
                                            hacer real tu objetivo!</h5>
                                    </div>
                                    <div class="card-body">
                                        <a href="#" class="card-link">Conoce más</a>
                                    </div>
                                    <div>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-1">
                                                    <img class="cardIcon" src="assets/iconos/world.jpg" alt="...">
                                                </div>
                                                <div class="col">
                                                    <p>Rentabilidades mínimas del 3% anuales</p>
                                                </div>
                                            </div>


                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-1">
                                                    <img class="cardIcon" src="assets/iconos/profile.jpg" alt="...">
                                                </div>
                                                <div class="col">
                                                    <p>4.000 clientes confían en este producto</p>
                                                </div>
                                            </div>

                                        </li>
                                    </div>
                                </div>                                                                                      
                            </div>
                            <div class="col-4 col-sm-2">
                                <img class="goIcon" src="assets/iconos/go.png" alt="...">
                            </div>                               
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

    </div>

</div>