<div class="card border-0">
    <img src="assets/imagenes/stars.jpg" class="card-img" alt="" style="height: 350px;  "   >
   
    <div class="row" >
        <div class="col-6" >
            <div class="card-img-overlay" style="padding-top: 100px;">
                <div class="row row-cols-3">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        <span style="color: white;"><img src="assets/iconos/home.png" alt="Image S">Ir al inicio</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            <h3 >¡Tu objetivo ha sido agregado exitosamente!</h3>
                            <h6 >¡Te hemos enviado un correo con la notificación!</h6>
                        </div>
                    </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <div class="card" style="max-width: 540px;">
                        <div class="card-body">
                            <div class="row row-cols-2" style="margin-top: 5px;">
                                <div class="col-md-6">
                                    <h2 class="card-title">Conocer mi sobrino</h2>
                                    <h5 class="card-body">Categoría: Bienestar</h5>
                                </div>
                                <div class="col" style="display: flex;
                                align-content: center;
                                flex-wrap: wrap;
                                flex-direction: row-reverse;">
                                    <a href="#" class="card-link">Revisar objetivo</a>
                                </div>
                            </div>

                            <div class="row row-cols-3" style="margin-top: 10px;">
                                <div class="col">
                                    <h5 class="card-item">En esta fecha:</h5>
                                    <span class="badge text-bg-info">Diciembre/2022</span>
                                </div>
                                <div class="col">
                                    <h5 class="card-item">Lograras:</h5>
                                    <span class="badge text-bg-secondary">$6.000.000</span>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <h5 class="card-item"><img src="assets/iconos/star.png" alt="Image S">Ya cuentas
                                            con:</h5>
                                    </div>
                                    <span class="badge text-bg-primary">$0</span>
                                </div>
                            </div>
                            <div class="row row-cols-2" style="margin-top: 20px;">
                                <div class="col-md-9" style="
                                display: flex;
                                align-items: center;">
                                    <a href="#" class="card-link"><img src="assets/iconos/check.png"
                                            alt="Image S">¡Asocia productos para monitorear su progreso!</a>
                                </div>
                                <div class="col-sm-3" style="float: right;
                                padding: unset;">
                                    <img src="assets/imagenes/mountains.png" alt="Image S" style="float: right;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        <div>
                            <p class="textExplore">¡Vamos por esos $6.000.000 para Conocer mi sobrino!</p>
                            <p class="orangeExploreText">¡A través de tus productos y nuestros rendimientos podremos
                                lograrlo! Asocia tus productos o adquiere uno nuevo.
                                <img src="assets/iconos/help.png" alt="Image S">
                            </p>
                        </div>
                    </div>
                </div>
                <app-card-list ></app-card-list>
                <app-footer></app-footer>
            </div>
        </div>
    </div>        
</div>
    
