card-title {
    text-align: left;
    font: normal normal bold 18px/23px Montserrat;
    letter-spacing: 0px;
    color: #3F3F3F;
    opacity: 1;
}

card-subtitle {
    text-align: left;
    font: normal normal medium 18px/23px Montserrat;
    letter-spacing: 0px;
    color: #3F3F3F;
    opacity: 1;
}

.cardValue {
    text-align: left;
    font: normal normal medium 18px/23px Montserrat;
    letter-spacing: 0px;
    color: #00C83C;
    opacity: 1;
}

.cardRectangle {
    background: #EDEDED 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
}

.border-primary {
    border-color: #A4D071;
    opacity: 1;
    border-left: unset;
    border-right: unset;
    border-top: unset;
    border-bottom: 2px;
}

.btnExplore {
    text-align: center;
    text-decoration: underline;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #00C83C 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}