.objectiveButton {
    display: flex;
    justify-content: center;
    padding: 20px;
    

}

.btn-primary {
    background: #E2E2E2 0% 0% no-repeat padding-box !important;
    border-radius: 25px;
    opacity: 1;
    border: none;
    text-align: center;
    font: normal normal bold 16px/12px Montserrat;
    letter-spacing: 0px;
    color: #3F3F3F;
    opacity: 1;
}